.energy {
  background: #24282F;
  min-height: 100vh;

  @media screen and (max-width: 768px) {
    padding: 60px 0 0 0;
  }

  &__h3 {
    color: #FFF;
    font-family: 'HeliosExtC';
    font-size: 3vw;
    font-weight: 700;
    margin: 0 0 60px 0;

    @media screen and (max-width: 1024px) {
      font-size: 24px;
    }
  }

  &__block {
    display: flex;

    @media screen and (max-width: 1200px) {
      flex-direction: column;
    }
  }

  &__description {
    padding: 120px 80px 20px 80px;
    width: 50%;

    @media screen and (max-width: 1200px) {
      padding: 0 15px 20px;
      width: 100%;
    }
  }

  &__image {
    width: 50%;

    @media screen and (max-width: 1200px) {
      width: 100%;
    }
  }

  &__paragraph {
    color: #FFF;
    font-size: 1.2vw;
    font-weight: 300;
    line-height: 150%;
    margin: 0 0 60px 0;

    &:first-child {
      margin: 0 0 60px 0;
    }

    &:nth-child(2) {
      margin: 0 0 30px 0;
    }

    @media screen and (max-width: 1024px) {
      font-size: 14px;
    }
  }

  &__list {
    margin: 0 0 138px 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media screen and (max-width: 768px) {
      margin: 0 0 34px 0;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 150%;

    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
  }

  &__icon {
    width: 36px;
    height: 36px;
  }

  &__link-block {
    text-align: right;
  }

  &__link {
    color: #ED7D31;
    font-size: 1.2vw;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    gap: 8px;

    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
  }
}