.header {
  padding: 0 0 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background: rgba(13, 13, 14, 0.26);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;

  @media screen and (max-width: 768px) {
    padding: 0 24px;
  }

  &__menu-block {
    display: flex;
    align-items: center;
    gap: 90px;
  }

  &__menu-name {

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__menu-languages {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__language {
    color: #5F6565;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;

    &--active {
      color: #FFF;
    }
  }

  &__lang-separator {
    color: #5F6565;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
  }

  &__menu-button {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #fff;
    cursor: pointer;
  }

  &__buttons-block {
    display: flex;
    height: 100%;
  }

  &__button {
    height: 100%;
    padding: 0 30px;
    color: #FFF;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
  
    &:first-child {
      border-left: 1px solid #444;
      border-right: 1px solid #444;

      @media screen and (max-width: 768px) {
        border-left: none;
        border-right: none;
        padding: 0;
      }
    }

    &:last-child {

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #ED7D31;
        transition: width 0.6s ease;
        z-index: -1;
      }

      &:hover {
        &::before {
          width: 100%;
        }
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    
  }
}