body {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;

  &--sm {
    max-width: 1046px;
  }
}

.header {
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background: #132231;

  @media screen and (max-width: 768px) {
    padding: 0 24px;
  }

  &__menu-block {
    display: flex;
    align-items: center;
    gap: 90px;
  }

  &__menu-name {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__menu-languages {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__language {
    color: #5F6565;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;

    &--active {
      color: #FFF;
    }
  }

  &__lang-separator {
    color: #5F6565;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
  }

  &__menu-button {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #fff;
  }

  &__buttons-block {
    display: flex;
    height: 100%;
  }

  &__button {
    height: 100%;
    padding: 0 30px;
    color: #FFF;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
  
    &:first-child {
      border-left: 1px solid white;
      border-right: 1px solid white;

      @media screen and (max-width: 768px) {
        border-left: none;
        border-right: none;
        padding: 0;
      }
    }

    &:last-child {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    
  }
}

.main {
  padding: 200px 0 450px;
  background-image: url(../images/main-bg.png);
  background-color: #181D24;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__h1 {
    text-align: center;
    color: #FFF;
    font-family: HeliosExtC;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 35px 0;

    @media screen and (max-width: 768px) {
      font-size: 24px;
    }
  }

  &__description {
    margin: 0 auto 35px;
    color: #FFF;
    text-align: center;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    max-width: 1060px;

    @media screen and (max-width: 768px) {
      font-size: 14px;
      margin: 0 0 40px 0;
    }
  }

  &__buttons-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 8px;
    }
  }

  &__button {
    width: 235px;
    height: 65px;
    flex-shrink: 0;
    background: #ED7D31;
    box-shadow: 0px 1px 28px 0px rgba(2, 156, 246, 0.10);

    @media screen and (max-width: 768px) {
      height: 65px;
      max-width: 300px;
      width: 100%;
    }
  }

  &__button-video {
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;

    @media screen and (max-width: 768px) {
      border: 1px solid #ED7D31;
      height: 65px;
      max-width: 300px;
      width: 100%;
    }
  }

  &__button-video-icon {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__button-video-icon-sm {
    display: none;

    @media screen and (max-width: 768px) {
      display: inline;
    }
  }
}

.safety {
  padding: 138px 0 200px;
  background-image: url(../images/bg-02.png);
  background-color: #181D24;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__h2 {
    color: #FFF;
    font-family: HeliosExtC;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    margin: 0 0 132px 0;

    @media screen and (max-width: 768px) {
      font-size: 24px;
      margin: 0 0 45px 0;
    }

    &--orange {
      color: #ED7D31;
    }
  }

  &__block {
    display: flex;
    gap: 72px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 45px;
    }
  }

  &__description {
    padding: 50px 10px 40px 0;

    @media screen and (max-width: 768px) {
      padding: 0 15px;
    }
  }

  &__paragraph {
    color: #FFF;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;

    &:nth-child(1):not(.safety__paragraph--sm) {
      margin: 0 0 60px 0;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    &:nth-child(2) {
      margin: 0 0 30px 0;
    }

    &--sm {
      padding: 0 15px;
      margin: 0;
    }
  }

  &__link {
    color: #ED7D31;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
  }
}

.energy {
  padding: 138px 0 200px;
  background: #24282F;

  &__h3 {
    color: #FFF;
    font-family: HeliosExtC;
    font-size: 46px;
    font-weight: 700;

    @media screen and (max-width: 768px) {
      font-size: 24px;
    }
  }

  &__block {
    display: flex;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__description {
    padding: 120px 80px 20px 80px;

    @media screen and (max-width: 768px) {
      padding: 0 15px;
    }
  }

  &__paragraph {
    color: #FFF;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    margin: 0 0 60px 0;

    &:first-child {
      margin: 0 0 60px 0;
    }

    &:nth-child(2) {
      margin: 0 0 30px 0;
    }
  }

  &__list {
    margin: 0 0 138px 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
  }

  &__icon {
    width: 36px;
    height: 36px;
  }

  &__link-block {
    text-align: right;
  }

  &__link {
    color: #ED7D31;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
  }
}

.light {
  padding: 160px 0;
  background: gray;

  &__h3 {
    margin: 0 0 60px 0;
    color: #FFF;
    font-family: HeliosExtC;
    font-size: 46px;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    text-align: center;
  }

  &__block {
    display: flex;
    width: 100%;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__block-item {
    padding: 540px 0 40px 80px;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    &:nth-child(1) {
      background-image: url(../images/light-01.png);
    }

    &:nth-child(2) {
      background-image: url(../images/light-02.png);
    }
  }

  &__h4 {
    color: #FFF;
    font-family: HeliosExtC;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-transform: uppercase;
    margin: 0 0 40px 0;
  }

  &__link {
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #fff;
  }
}

.furniture {
  padding: 138px 0 200px;
  background: #24282F;

  &__h3 {
    color: #FFF;
    font-family: HeliosExtC;
    font-size: 46px;
    font-weight: 700;
  }

  &__block {
    display: flex;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__description {
    padding: 120px 80px 20px 80px;
  }

  &__paragraph {
    color: #FFF;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    margin: 0 0 60px 0;

    &:first-child {
      margin: 0 0 60px 0;
    }

    &:nth-child(2) {
      margin: 0 0 30px 0;
    }
  }

  &__list {
    margin: 0 0 138px 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
  }

  &__icon {
    width: 36px;
    height: 36px;
  }

  &__link-block {
    text-align: right;
  }

  &__link {
    color: #ED7D31;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
  }
}

.acoustic {
  padding: 138px 0 200px;
  background: gray;

  &__h3 {
    color: #FFF;
    font-family: HeliosExtC;
    font-size: 46px;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    margin: 0 0 40px 0;
    text-align: center;
  }

  &__block {
    display: flex;
    width: 100%;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__item {
    padding: 328px 0 40px 80px;
    width: calc(100% / 3);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    &:nth-child(1) {
      background-image: url(../images/home-acoustic.png);
    }

    &:nth-child(2) {
      background-image: url(../images/landscape-acoustic.png);
    }

    &:nth-child(3) {
      background-image: url(../images/ceil-acoustic.png);
    }
  }

  &__h4 {
    color: #FFF;
    font-family: HeliosExtC;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-transform: uppercase;
    margin: 0 0 40px 0;
  }

  &__link {
    color: #FFF;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
  }
}

.server {
  padding: 160px 0;
  background-image: url(../images/server-bg.png);
  background-color: #181D24;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__block {
    display: flex;
    width: 100%;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__item {
    width: 50%;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  &__h4 {
    color: #FFF;
    font-family: HeliosExtC;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 60px 0;

  &--orange {
      color: #ED7D31;
      font-family: HeliosExtC;
      font-size: 46px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      }
  }

  &__paragraph {
    color: #FFF;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 300;
    line-height: 150%;
    margin: 0 0 60px 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 45px;
  }

  &__list-item {
    display: flex;
    gap: 20px;
    align-items: center;
    color: #FFF;
    font-family: Rubik;
    font-size: 22px;
    font-weight: 400;
    line-height: 150.6%;
  }

  &__img {
    width: 100%;
  }
}

.commercial {
  padding: 118px 0;
  background-image: url(../images/commercial-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__h3 {
    color: #FFF;
    font-family: HeliosExtC;
    font-size: 46px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 14px 0;
  }

  &__paragraph {
    color: #FFF;
    text-align: center;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    margin: 0 0 22px 0;
  }

  &__form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 8px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      width: 100%;
    }
  }

  &__input {
    border: 1px solid #4C4F55;
    background: #24282F;
    width: calc((100% / 3) - 16px);
    height: 65px;
    padding: 22px 0 22px 46px;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  &__button {
    background: #ED7D31;
    box-shadow: 0px 1px 28px 0px rgba(224, 172, 124, 0.10);
    color: #FFF;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    width: calc((100% / 3) - 16px);
    height: 65px;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}

.questions {
  background: #24282F;
  display: flex;
  width: 100%;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  &__block {
    width: 50%;

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    &:first-child {
      padding: 100px 0 80px 80px;
    }
  }

  &__h3 {
    color: #FFF;
    font-family: HeliosExtC;
    font-size: 46px;
    font-weight: 700;
    margin: 0 0 40px 0;
  }

  &__paragraph {
    color: #FFF;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 300;
    line-height: 150%;
    margin: 0 0 40px 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 0 40px 0;
  }

  &__input {
    border: 1px solid #4C4F55;
    background: #24282F;
    height: 65px;
    padding: 22px 0 22px 46px;
    max-width: 409px;
  }

  &__button {
    background: #ED7D31;
    box-shadow: 0px 1px 28px 0px rgba(224, 172, 124, 0.10);
    color: #FFF;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    max-width: 409px;
    height: 65px;
  }

  &__lists {
    display: flex;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #fff;
  }

  &__iframe {
    width: 100%;
    height: 100%;

    @media screen and (max-width: 768px) {
      min-height: 375px;
    }
  }
}

.footer {
  border: 1px solid #3B424B;
  background: #30353D;
  padding: 13px 0 16px;

  &__logo {
    width: 53px;
    height: 41px;

    @media screen and (max-width: 768px) {
      order: 2;
    }
  }

  &__block {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__nav {
    display: flex;
    gap: 30px;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__icons-block {
    display: flex;
    gap: 30px;

    @media screen and (max-width: 768px) {
      order: 1;
      flex-direction: column;
      align-items: center;
    }
  }

  &__icons {
    display: flex;
    gap: 8px;
  }

  &__phones {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__separator {
    height: 1px;
    background: #535963;
    margin: 12px 0;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__rights {
    margin: 0;
    color: #636567;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  &__privacy-nav {
    display: flex;
    gap: 20px;
  }

  &__privacy-link {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    text-decoration-line: underline;
  }
}