@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Rubik:wght@300;400&display=swap');

@font-face {
  font-family: 'HeliosExtC';
  src: url('../fonts/Heliosextc.otf') format('opentype');
}

@import './reset.scss';
@import './swiper.scss';
@import './header.scss';
@import './safety.scss';
@import './slider.scss';
@import './energy.scss';
@import './light.scss';
@import './furniture.scss';
@import './acoustic.scss';
@import './server.scss';
@import './commercial.scss';
@import './questions.scss';
@import './footer.scss';

* {
  font-family: 'Rubik', sans-serif;
}

body {
  background-color: #24282F;
}


.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;

  &--sm {
    max-width: 1046px;

    @media screen and (min-width: 1200px) {
      max-width: 1310px;
    }
  }
}

.main {
  padding: 200px 0 450px;
  background-image: url(../images/main-bg.png);
  background-color: #181D24;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;

  @media screen and (max-width: 768px) {
    padding: 170px 0 0;
  }

  &__h1 {
    text-align: center;
    color: #FFF;
    font-family: 'HeliosExtC';
    font-size: 3vw;
    font-weight: 700;
    margin: 0 0 35px 0;

    @media screen and (max-width: 1024px) {
      font-size: 24px;
    }
  }

  &__description {
    margin: 0 auto 35px;
    color: #FFF;
    text-align: center;
    font-size: 1.2vw;
    font-weight: 300;
    line-height: 150%;
    max-width: 1060px;

    @media screen and (max-width: 768px) {
      margin: 0 0 40px 0;
    }

    @media screen and (max-width: 1024px) {
      font-size: 14px;
    }
  }

  &__buttons-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 8px;
    }
  }

  &__button {
    width: 235px;
    height: 65px;
    flex-shrink: 0;
    background: #ED7D31;
    box-shadow: 0px 1px 28px 0px rgba(2, 156, 246, 0.10);
    cursor: pointer;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;    

    @media screen and (max-width: 768px) {
      height: 65px;
      max-width: 300px;
      width: 100%;
    }
  }

  &__button-video {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;

    @media screen and (max-width: 768px) {
      border: 1px solid #ED7D31;
      padding: 0 15px;
      gap: 45px;
      height: 65px;
      max-width: 300px;
      width: 100%;
    }
  }

  &__button-video-icon {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 1px dashed #ED7D31;
    background-image: url(../images/video-button.svg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    box-shadow: 2px 2px 40px rgba(237, 125, 49, 0.7);
    background-color: rgba(237, 125, 49, 0.2);

    @media screen and (max-width: 768px) {
      width: 35px;
      height: 35px;
    }
  }
}