body {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}