.slider {
  padding: 50px 0;
  background-color: #181D24;
  height: 800px;
  overflow: hidden;
  min-height: 100vh;
  background-image: url(../images/bg-clouds.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;

  &__item {
    background-image: url(../images/swiper-01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: end;
  }

  &__txt-block {
    background: #24282F;
    padding: 40px 40px 20px 40px;
  }

  &__h5 {
    color: #FFF;
    font-family: HeliosExtC;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 35px 0;
  }

  &__link {
    color: #ED7D31;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    cursor: pointer;
    margin-right: 5px;
  }
}