.swiper {
  width: 100%;
  height: 700px;
  overflow: hidden;
  max-width: 992px;
  z-index: 9;

  &-slide {
    max-height: 90%;
    transition: all 2s ease;
    overflow: hidden;

  &:not(.swiper-slide-active) {
    max-height: 70%;
    height: 70%;
    margin: auto 0 14%;
  }
  }

  &-pagination {
    &-bullet {
      background: #ED7D31;
    }
  }

  &-button {
    &-next {
      right: -94px;
      border: 1px solid #fff;
      border-radius: 50%;
      width: 52px;
      height: 52px;

      &::after {
        background-image: url(../images/arrow-slider.svg);
        content: '';
        width: 10px;
        height: 17px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
      }
    }

    &-prev {
      left: -94px;
      border: 1px solid #fff;
      border-radius: 50%;
      width: 52px;
      height: 52px;

      &::after {
        background-image: url(../images/arrow-slider.svg);
        content: '';
        width: 10px;
        height: 17px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-180deg);
        position: absolute;
      }
    }
  }
}

.thumbs-swiper {
  position: absolute;
  top: 50px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  z-index: 8;
  height: 700px;
  max-width: 992px;
  opacity: 0.2;

  &-slide {
    max-height: 90%;
    transition: all 2s ease;
    overflow: hidden;

  &:not(.swiper-slide-active) {
    max-height: 70%;
    height: 70%;
    margin: auto 0 14%;
  }
  }
}



