@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Rubik:wght@300;400&display=swap");
@font-face {
  font-family: "HeliosExtC";
  src: url("../fonts/Heliosextc.otf") format("opentype");
}
body {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

input {
  outline: none;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

.swiper {
  width: 100%;
  height: 700px;
  overflow: hidden;
  max-width: 992px;
  z-index: 9;
}
@media screen and (max-width: 1400px) {
  .swiper {
    max-width: 750px;
  }
}
@media screen and (max-width: 1220px) {
  .swiper {
    max-width: 650px;
  }
}
@media screen and (max-width: 1024px) {
  .swiper {
    max-width: 500px;
  }
}
@media screen and (max-width: 768px) {
  .swiper {
    height: 100vh;
    max-width: 425px;
  }
}
@media screen and (max-width: 425px) {
  .swiper {
    height: 80vh;
    max-width: 260px;
  }
}
.swiper-slide {
  max-height: 90%;
  transition: max-height 1s ease;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .swiper-slide {
    transition: all 0.6s ease;
  }
}
@media screen and (max-width: 425px) {
  .swiper-slide {
    max-height: unset;
  }
}
.swiper-slide:not(.swiper-slide-active) {
  max-height: 70%;
  height: 100%;
  margin: auto 0 14%;
}
@media screen and (max-width: 425px) {
  .swiper-slide:not(.swiper-slide-active) {
    max-height: unset;
    margin: 0;
  }
}
.swiper-pagination-bullet {
  background: #ED7D31;
}
.swiper-button {
  z-index: 4;
  position: relative;
}
.swiper-button-next {
  right: 10%;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 52px;
  height: 52px;
}
@media screen and (max-width: 1024px) {
  .swiper-button-next {
    width: 32px;
    height: 32px;
  }
}
@media screen and (max-width: 768px) {
  .swiper-button-next {
    display: none;
  }
}
.swiper-button-next::after {
  background-image: url(../images/arrow-slider.svg);
  content: "";
  width: 10px;
  height: 17px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
@media screen and (max-width: 1024px) {
  .swiper-button-next::after {
    width: 7px;
    height: 12px;
  }
}
.swiper-button-prev {
  left: 10%;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 52px;
  height: 52px;
}
@media screen and (max-width: 1024px) {
  .swiper-button-prev {
    width: 32px;
    height: 32px;
  }
}
@media screen and (max-width: 768px) {
  .swiper-button-prev {
    display: none;
  }
}
.swiper-button-prev::after {
  background-image: url(../images/arrow-slider.svg);
  content: "";
  width: 10px;
  height: 17px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-180deg);
  position: absolute;
}
@media screen and (max-width: 1024px) {
  .swiper-button-prev::after {
    width: 7px;
    height: 12px;
  }
}

.thumbs-swiper {
  position: absolute;
  top: 50px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  z-index: 8;
  height: 700px;
  max-width: 992px;
  opacity: 0.3;
}
@media screen and (max-width: 1400px) {
  .thumbs-swiper {
    max-width: 750px;
  }
}
@media screen and (max-width: 1220px) {
  .thumbs-swiper {
    max-width: 650px;
  }
}
@media screen and (max-width: 1024px) {
  .thumbs-swiper {
    max-width: 500px;
  }
}
@media screen and (max-width: 768px) {
  .thumbs-swiper {
    height: 90vh;
    max-width: 425px;
  }
}
@media screen and (max-width: 425px) {
  .thumbs-swiper {
    height: 80vh;
    max-width: 260px;
  }
}
.thumbs-swiper-slide {
  max-height: 70%;
  height: 70%;
  transition: max-height 1s ease;
  overflow: hidden;
}
@media screen and (max-width: 425px) {
  .thumbs-swiper-slide {
    max-height: unset;
    height: 100%;
  }
}

.header {
  padding: 0 0 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background: #283345;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  transition: all 0.4s ease;
}
.header__hidden {
  top: -75px;
}
@media screen and (max-width: 768px) {
  .header {
    padding: 0 0 0 24px;
    border-bottom: 1px solid #424d5f;
  }
}
.header__menu-block {
  display: flex;
  align-items: center;
  gap: 90px;
}
.header__menu-name {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .header__menu-name {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header__menu-languages {
    display: none;
  }
}
.header__language {
  color: #5F6565;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.header__language--active {
  color: #FFF;
}
.header__lang-separator {
  color: #424d5f;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.header__menu-button {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.header__buttons-block {
  display: flex;
  height: 100%;
}
.header__button {
  height: 100%;
  padding: 0 30px;
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}
.header__button:first-child {
  border-left: 1px solid #424d5f;
  border-right: 1px solid #424d5f;
}
@media screen and (max-width: 768px) {
  .header__button:first-child {
    border-left: none;
    border-right: none;
    padding: 0 24px;
  }
}
.header__button:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #ED7D31;
  transition: width 0.6s ease;
  z-index: -1;
}
.header__button:first-child:hover::before {
  width: 100%;
}
.header__button:last-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #ED7D31;
  transition: width 0.6s ease;
  z-index: -1;
}
.header__button:last-child:hover::before {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .header__button:last-child {
    display: none;
  }
}

.safety {
  padding: 138px 0 100px;
  background-image: url(../images/bg-02.png);
  background-color: #181D24;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.safety__h2 {
  color: #FFF;
  font-family: "HeliosExtC";
  font-size: 3vw;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  margin: 0 0 132px 0;
}
@media screen and (max-width: 1024px) {
  .safety__h2 {
    font-size: 24px;
    margin: 0 0 45px 0;
  }
}
.safety__h2--orange {
  color: #ED7D31;
}
.safety__block {
  display: flex;
  gap: 72px;
}
@media screen and (max-width: 1200px) {
  .safety__block {
    flex-direction: column;
    gap: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .safety__img {
    width: 50%;
    object-fit: cover;
  }
}
.safety__description {
  padding: 50px 10px 40px 0;
}
@media screen and (min-width: 1200px) {
  .safety__description {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .safety__description {
    padding: 0 15px;
  }
}
@media screen and (max-width: 1200px) {
  .safety__description {
    padding: 0 15px;
  }
}
.safety__paragraph {
  color: #FFF;
  font-size: 1.2vw;
  font-weight: 300;
  line-height: 150%;
}
.safety__paragraph:nth-child(1):not(.safety__paragraph--sm) {
  margin: 0 0 60px 0;
}
@media screen and (max-width: 768px) {
  .safety__paragraph:nth-child(1):not(.safety__paragraph--sm) {
    display: none;
  }
}
.safety__paragraph:nth-child(2) {
  margin: 0 0 30px 0;
}
.safety__paragraph--sm {
  padding: 0 15px;
  margin: 0;
  display: none;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .safety__paragraph--sm {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .safety__paragraph {
    font-size: 14px;
  }
}
.safety__link {
  color: #ED7D31;
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
  display: flex;
  gap: 8px;
}
@media screen and (max-width: 768px) {
  .safety__link {
    font-size: 14px;
  }
}

.slider {
  padding: 50px 0;
  position: relative;
  height: 800px;
  overflow: hidden;
  background-repeat: repeat-y;
  background-size: cover;
}
.slider__wrapper {
  min-height: 100vh;
  background: #181D24;
}
@media screen and (min-width: 1440px) {
  .slider__wrapper {
    min-height: unset;
  }
}
.slider__h2 {
  margin: 0 0 60px 0;
  color: #FFF;
  font-family: HeliosExtC;
  font-size: 3.1vw;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .slider__h2 {
    font-size: 24px;
    margin: 0 0 40px 0;
  }
}
@media screen and (max-width: 768px) {
  .slider__h2 {
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .slider {
    height: auto;
  }
}
.slider__item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  position: relative;
}
@media screen and (max-width: 425px) {
  .slider__item {
    height: 450px;
  }
}
.slider__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 425px) {
  .slider__img {
    height: 450px;
  }
}
.slider__txt-block {
  background: #24282F;
  padding: 40px 40px 20px 40px;
  position: relative;
  z-index: 11;
}
@media screen and (max-width: 768px) {
  .slider__txt-block {
    width: 100%;
  }
}
.slider__h5 {
  color: #FFF;
  font-family: HeliosExtC;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 35px 0;
}
@media screen and (max-width: 425px) {
  .slider__h5 {
    font-size: 14px;
    margin: 0 0 15px 0;
  }
}
.slider__link {
  color: #ED7D31;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  cursor: pointer;
  margin-right: 5px;
}

.energy {
  background: #24282F;
  min-height: 100vh;
}
@media screen and (max-width: 1200px) {
  .energy {
    padding: 96px 0 0 0;
  }
}
.energy__h3 {
  color: #FFF;
  font-family: "HeliosExtC";
  font-size: 3vw;
  font-weight: 700;
  margin: 0 0 60px 0;
}
@media screen and (max-width: 1024px) {
  .energy__h3 {
    font-size: 24px;
    margin: 0 0 45px 0;
  }
}
.energy__block {
  display: flex;
}
@media screen and (max-width: 768px) {
  .energy__block {
    flex-direction: column-reverse;
    align-items: center;
    gap: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .energy__block {
    height: 100%;
  }
}
.energy__description {
  padding: 120px 80px 20px 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
}
@media screen and (max-width: 1200px) {
  .energy__description {
    padding: 0 15px 20px;
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .energy__description {
    width: 80%;
  }
}
@media screen and (max-width: 425px) {
  .energy__description {
    width: 100%;
  }
}
.energy__imgBlock {
  width: 50%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .energy__imgBlock {
    width: 100%;
    height: 100vh;
  }
}
@media screen and (max-width: 425px) {
  .energy__imgBlock {
    width: 100%;
    height: 50vh;
  }
}
.energy__image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s;
  height: 100%;
  object-fit: cover;
}
.energy__image--active {
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .energy__image {
    height: 100%;
    width: 100%;
  }
}
.energy__span {
  cursor: pointer;
}
.energy__paragraph {
  color: #FFF;
  font-size: 1.2vw;
  font-weight: 300;
  line-height: 150%;
  margin: 0 0 60px 0;
}
.energy__paragraph:first-child {
  margin: 0 0 60px 0;
}
.energy__paragraph:nth-child(2) {
  margin: 0 0 30px 0;
}
@media screen and (max-width: 1024px) {
  .energy__paragraph {
    font-size: 14px;
  }
}
.energy__list {
  margin: 0 0 138px 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  .energy__list {
    margin: 0 0 34px 0;
  }
}
.energy__item {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 150%;
}
@media screen and (max-width: 768px) {
  .energy__item {
    font-size: 14px;
  }
}
.energy__icon {
  width: 36px;
  height: 36px;
}
.energy__link-block {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
.energy__link {
  color: #ED7D31;
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
  display: flex;
  gap: 8px;
}
@media screen and (max-width: 768px) {
  .energy__link {
    font-size: 14px;
    justify-content: flex-end;
  }
}

.light {
  background: #181D24;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  padding: 0 0 160px 0;
}
@media screen and (max-width: 768px) {
  .light {
    padding: 60px 0 0 0;
  }
}
.light__h3 {
  margin: 0 0 60px 0;
  padding: 160px 0 0 0;
  color: #FFF;
  font-family: HeliosExtC;
  font-size: 3.1vw;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .light__h3 {
    font-size: 24px;
    margin: 0 0 40px 0;
  }
}
@media screen and (max-width: 768px) {
  .light__h3 {
    padding: 0;
  }
}
.light__block {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .light__block {
    flex-direction: column;
  }
}
.light__block-item {
  padding: 540px 0 40px 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #24282F;
  overflow: hidden;
  position: relative;
  transition: all 1s ease;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .light__block-item {
    width: 100%;
    padding: 255px 0 30px 20px;
  }
}
.light__block-item:hover .light__block-img {
  transform: scale(1.2);
}
.light__block-img {
  transition: transform 1s ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.light__block-img-wrapper {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1s ease;
}
.light__h4 {
  color: #FFF;
  font-family: "HeliosExtC";
  font-size: 1.8vw;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
  margin: 0 0 40px 0;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 1024px) {
  .light__h4 {
    font-size: 18px;
    margin: 0 0 30px 0;
  }
}
.light__link {
  font-family: Rubik;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #fff;
  display: flex;
  gap: 8px;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 1024px) {
  .light__link {
    font-size: 14px;
  }
}

.furniture {
  background: #24282F;
  min-height: 100vh;
}
@media screen and (max-width: 768px) {
  .furniture {
    padding: 0;
  }
}
.furniture__h3 {
  color: #FFF;
  font-family: "HeliosExtC";
  font-size: 3vw;
  font-weight: 700;
  margin: 0 0 60px 0;
}
@media screen and (max-width: 1024px) {
  .furniture__h3 {
    margin: 0 0 30px 0;
    font-size: 24px;
  }
}
.furniture__block {
  display: flex;
}
@media screen and (max-width: 768px) {
  .furniture__block {
    flex-direction: column;
  }
}
.furniture__description {
  padding: 120px 80px 45px 80px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .furniture__description {
    padding: 90px 30px 30px;
  }
}
@media screen and (max-width: 768px) {
  .furniture__description {
    padding: 60px 20px 20px 20px;
    width: 100%;
    justify-content: unset;
  }
}
@media screen and (max-width: 425px) {
  .furniture__description {
    justify-content: unset;
    height: auto;
  }
}
.furniture__imgBlock {
  width: 50%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .furniture__imgBlock {
    width: 100%;
    height: 100vh;
  }
}
@media screen and (max-width: 425px) {
  .furniture__imgBlock {
    width: 100%;
    height: 50vh;
  }
}
.furniture__img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s;
  height: auto;
  object-fit: cover;
}
.furniture__img--active {
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .furniture__img {
    height: 100%;
    width: 100%;
  }
}
.furniture__paragraph {
  color: #FFF;
  font-size: 1.2vw;
  font-weight: 300;
  line-height: 150%;
  margin: 0 0 60px 0;
}
.furniture__paragraph:first-child {
  margin: 0 0 60px 0;
}
.furniture__paragraph:nth-child(2) {
  margin: 0 0 30px 0;
}
@media screen and (max-width: 1024px) {
  .furniture__paragraph {
    font-size: 14px;
  }
}
.furniture__list {
  margin: 0 0 138px 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (max-width: 1200px) {
  .furniture__list {
    gap: 15px;
    margin: 0 0 30px 0;
  }
}
.furniture__item {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 150%;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .furniture__item {
    font-size: 14px;
  }
}
.furniture__icon {
  width: 12px;
  height: 12px;
  background: #ED7D31;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(237, 125, 49, 0.9);
}
.furniture__link-block {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
.furniture__link {
  color: #ED7D31;
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
  display: flex;
  gap: 8px;
}
@media screen and (max-width: 768px) {
  .furniture__link {
    justify-content: flex-end;
    font-size: 14px;
  }
}

.acoustic {
  padding: 160px 0 0 0;
  background-color: #181D24;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
@media screen and (max-width: 768px) {
  .acoustic {
    padding: 60px 0 0 0;
  }
}
@media screen and (min-width: 1440px) {
  .acoustic {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 40px;
  }
}
.acoustic__h3 {
  color: #FFF;
  font-family: "HeliosExtC";
  font-size: 3vw;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  margin: 0 0 40px 0;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .acoustic__h3 {
    font-size: 24px;
    text-transform: none;
    margin: 0 0 40px 0;
    text-align: left;
    padding: 0 20px;
  }
}
.acoustic__block {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .acoustic__block {
    flex-direction: column;
  }
}
@media screen and (min-width: 1440px) {
  .acoustic__block {
    flex-grow: 1;
  }
}
.acoustic__img-wrapper {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1s ease;
  z-index: -1;
}
.acoustic__img {
  transition: transform 1s ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.acoustic__item {
  padding: 328px 0 40px 80px;
  background: #24282F;
  width: 33.3333333333%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  transition: all 1s ease;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 1440px) {
  .acoustic__item {
    flex-grow: 1;
    align-self: stretch;
  }
}
.acoustic__item:hover .acoustic__img {
  transform: scale(1.2);
}
@media screen and (max-width: 768px) {
  .acoustic__item {
    width: 100%;
    padding: 255px 0 30px 20px;
  }
}
.acoustic__h4 {
  color: #FFF;
  font-family: "HeliosExtC";
  font-size: 1.8vw;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .acoustic__h4 {
    font-size: 18px;
    margin: 0 0 30px 0;
  }
}
.acoustic__link {
  color: #FFF;
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 150%;
}
@media screen and (max-width: 768px) {
  .acoustic__link {
    font-size: 14px;
  }
}

.server {
  padding: 160px 80px;
  background-image: url(../images/server-bg.png);
  background-color: #24282F;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .server {
    padding: 60px 0 0 0;
  }
}
.server__block {
  display: flex;
  gap: 10px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .server__block {
    flex-direction: column;
    align-items: center;
    gap: 45px;
  }
  .server__block:last-child .server__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.server__item {
  width: 50%;
  height: 100%;
}
.server__item:first-child {
  padding: 50px 0 0 0;
}
@media screen and (max-width: 768px) {
  .server__item {
    width: 100%;
  }
  .server__item:first-child {
    padding: 0 10px;
  }
}
.server__h4 {
  color: #FFF;
  font-family: "HeliosExtC";
  font-size: 3vw;
  font-weight: 700;
  margin: 0 0 60px 0;
}
@media screen and (max-width: 768px) {
  .server__h4 {
    font-size: 24px;
    margin: 0 0 40px 0;
  }
}
.server__h4--orange {
  color: #ED7D31;
  font-family: "HeliosExtC";
}
@media screen and (max-width: 768px) {
  .server__h4--orange {
    font-size: 24px;
  }
}
.server__paragraph {
  color: #FFF;
  font-size: 1.2vw;
  font-weight: 300;
  line-height: 150%;
  margin: 0 0 60px 0;
  padding: 0 40px 0 0;
}
@media screen and (max-width: 768px) {
  .server__paragraph {
    display: none;
  }
}
.server__list {
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding: 0 40px 0 0;
}
@media screen and (max-width: 768px) {
  .server__list {
    margin: 0 0 45px 0;
    gap: 20px;
  }
}
.server__list-item {
  display: flex;
  gap: 20px;
  align-items: center;
  color: #FFF;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 150.6%;
}
@media screen and (max-width: 768px) {
  .server__list-item {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .server__list-img {
    width: 16px;
    height: 16px;
  }
}
.server__img {
  width: 100%;
  object-fit: contain;
  height: 100%;
  max-height: 792px;
}
@media screen and (max-width: 768px) {
  .server__img {
    height: 100%;
    max-width: 527px;
  }
}

.commercial {
  padding: 118px 0;
  background-image: url(../images/commercial-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .commercial {
    padding: 60px 0 60px 0;
  }
}
.commercial__h3 {
  color: #FFF;
  font-family: "HeliosExtC";
  font-size: 3vw;
  font-weight: 700;
  text-align: center;
  margin: 0 0 14px 0;
}
@media screen and (max-width: 768px) {
  .commercial__h3 {
    font-size: 24px;
    text-align: left;
    margin: 0 0 45px 0;
  }
}
.commercial__paragraph {
  color: #FFF;
  text-align: center;
  font-size: 1.2vw;
  font-weight: 300;
  line-height: 150%;
  margin: 0 0 22px 0;
}
@media screen and (max-width: 768px) {
  .commercial__paragraph {
    font-size: 14px;
    text-align: left;
  }
}
.commercial__form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 8px;
}
@media screen and (max-width: 768px) {
  .commercial__form {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
.commercial__input-wrapper {
  position: relative;
  width: calc(33.3333333333% - 16px);
}
@media screen and (max-width: 768px) {
  .commercial__input-wrapper {
    width: 100%;
    max-width: 335px;
  }
}
.commercial__input-wrapper--username::before {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../images/person-icon.svg);
}
.commercial__input-wrapper--cellphone::before {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../images/cell-phone-icon.svg);
}
.commercial__input {
  border: 1px solid #4C4F55;
  background: #24282F;
  height: 65px;
  padding: 22px 0 22px 46px;
  width: 100%;
  color: #fff;
  max-width: 305px;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .commercial__input {
    max-width: 335px;
    width: 100%;
  }
}
.commercial__input--phone {
  font-weight: 400;
}
.commercial__input::placeholder {
  color: #6C6D70;
}
.commercial__button {
  background: #ED7D31;
  box-shadow: 0px 1px 28px 0px rgba(224, 172, 124, 0.1);
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  width: calc(33.3333333333% - 16px);
  height: 65px;
  max-width: 235px;
}
@media screen and (max-width: 768px) {
  .commercial__button {
    width: 100%;
    max-width: 335px;
  }
}

.questions {
  background: #24282F;
  display: flex;
  width: 100%;
  min-height: 100vh;
}
@media screen and (max-width: 1200px) {
  .questions {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .questions {
    flex-direction: column;
  }
}
.questions__block {
  width: 50%;
}
@media screen and (max-width: 1200px) {
  .questions__block {
    width: 100%;
  }
  .questions__block--iframe {
    min-height: 100vh;
  }
}
@media screen and (max-width: 768px) {
  .questions__block--iframe {
    min-height: auto;
  }
}
.questions__block:first-child {
  padding: 100px 0 80px 80px;
}
@media screen and (max-width: 768px) {
  .questions__block:first-child {
    padding: 40px 20px 20px 40px;
  }
}
.questions__h3 {
  color: #FFF;
  font-family: "HeliosExtC";
  font-size: 3vw;
  font-weight: 700;
  margin: 0 0 40px 0;
  padding: 0 60px 0 0;
}
@media screen and (max-width: 768px) {
  .questions__h3 {
    font-size: 24px;
  }
}
.questions__paragraph {
  color: #FFF;
  font-size: 1.2vw;
  font-weight: 300;
  line-height: 150%;
  margin: 0 0 40px 0;
  padding: 0 60px 0 0;
}
@media screen and (max-width: 768px) {
  .questions__paragraph {
    font-size: 14px;
    margin: 0 0 30px 0;
  }
}
.questions__form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 0 40px 0;
}
.questions__input-wrapper {
  position: relative;
  width: 100%;
  max-width: 409px;
}
.questions__input-wrapper--username::before {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../images/person-icon.svg);
}
.questions__input-wrapper--cellphone::before {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../images/cell-phone-icon.svg);
}
.questions__input {
  border: 1px solid #4C4F55;
  background: #24282F;
  height: 65px;
  padding: 22px 0 22px 46px;
  color: #fff;
  width: 100%;
  max-width: 409px;
  font-weight: 300;
}
.questions__input::placeholder {
  color: #6C6D70;
}
.questions__button {
  background: #ED7D31;
  box-shadow: 0px 1px 28px 0px rgba(224, 172, 124, 0.1);
  color: #FFF;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  max-width: 409px;
  height: 65px;
}
.questions__lists {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .questions__lists {
    flex-direction: column;
    gap: 40px;
  }
}
.questions__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #fff;
  padding: 0 40px 0 40px;
}
.questions__item {
  color: #FFF;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
}
.questions__link {
  display: flex;
  gap: 8px;
  position: relative;
  display: block;
}
.questions__link--ua::before {
  content: "";
  width: 34px;
  height: 34px;
  background-image: url(../images/ua-flag.svg);
  border-radius: 50%;
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
}
.questions__link--uk::before {
  content: "";
  width: 34px;
  height: 34px;
  background-image: url(../images/uk-flag.svg);
  border-radius: 50%;
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
}
.questions__iframe {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .questions__iframe {
    min-height: 375px;
  }
}

.footer {
  border: 1px solid #3B424B;
  background: #30353D;
  padding: 13px 80px 16px;
}
.footer__logo {
  width: 53px;
  height: 41px;
}
@media screen and (max-width: 768px) {
  .footer__logo {
    order: 2;
    width: 80px;
    height: 61px;
  }
}
.footer__block {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .footer__block {
    flex-direction: column;
    align-items: center;
  }
}
.footer__nav {
  display: flex;
  gap: 30px;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
@media screen and (max-width: 768px) {
  .footer__nav {
    display: none;
  }
}
.footer__icons-block {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .footer__icons-block {
    order: 1;
    flex-direction: column;
    align-items: center;
  }
}
.footer__icons {
  display: flex;
  gap: 8px;
}
.footer__phones {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}
@media screen and (max-width: 768px) {
  .footer__phones {
    margin: 0 0 40px 0;
  }
}
.footer__separator {
  height: 1px;
  background: #535963;
  margin: 12px 0;
}
@media screen and (max-width: 768px) {
  .footer__separator {
    background: transparent;
  }
}
.footer__rights {
  margin: 0;
  color: #636567;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.footer__privacy-nav {
  display: flex;
  gap: 20px;
}
.footer__privacy-link {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}

* {
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #24282F;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}
.container--sm {
  max-width: 1046px;
}
@media screen and (min-width: 1200px) {
  .container--sm {
    max-width: 1310px;
  }
}

.main {
  background-image: url(../images/main-bg.png);
  background-color: #181D24;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
}
.main .container {
  transform: translateY(75px);
}
.main__h1 {
  text-align: center;
  color: #FFF;
  font-family: "HeliosExtC";
  font-size: 3vw;
  font-weight: 700;
  margin: 0 0 35px 0;
}
@media screen and (max-width: 1024px) {
  .main__h1 {
    font-size: 24px;
  }
}
.main__description {
  margin: 0 auto 35px;
  color: #FFF;
  text-align: center;
  font-size: 1.2vw;
  font-weight: 300;
  line-height: 150%;
  max-width: 1060px;
}
@media screen and (max-width: 768px) {
  .main__description {
    margin: 0 0 40px 0;
  }
}
@media screen and (max-width: 1024px) {
  .main__description {
    font-size: 14px;
  }
}
.main__buttons-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
}
@media screen and (max-width: 768px) {
  .main__buttons-block {
    flex-direction: column;
    gap: 8px;
  }
}
.main__button {
  width: 235px;
  height: 65px;
  flex-shrink: 0;
  background: #ED7D31;
  box-shadow: 0px 1px 28px 0px rgba(2, 156, 246, 0.1);
  cursor: pointer;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .main__button {
    height: 65px;
    max-width: 300px;
    width: 100%;
  }
}
.main__button-video {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .main__button-video {
    border: 1px solid #ED7D31;
    padding: 0 15px;
    gap: 45px;
    height: 65px;
    max-width: 300px;
    width: 100%;
  }
}
.main__button-video-icon {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 1px dashed #ED7D31;
  background-image: url(../images/video-button.svg);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 40px rgba(237, 125, 49, 0.7);
  background-color: rgba(237, 125, 49, 0.2);
}
@media screen and (max-width: 768px) {
  .main__button-video-icon {
    width: 35px;
    height: 35px;
  }
}

/*# sourceMappingURL=main.css.map */
